.container {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: row;
	overflow-x: auto;
}

.stepProgessContainer {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.5rem;

	margin: 10rem 9rem 0 16rem;
	margin-bottom: 5rem;
}

.title {
	width: 25.75rem;
}

.description {
	width: 25.75rem;
	color: var(--Gray-3);
	font-family: Merriweather;
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.stepProgress {
	width: 90%;
}

.separator {
	width: 0.0625rem;
	display: flex;
	align-items: center;
}

.separator > div {
	width: 100%;
	height: 70%;
	background-color: #e0e0e0;
}

.stepFormContainer {
	width: 70%;
	margin: 10rem 15rem 0 9rem;
	margin-bottom: 2rem;
	overflow: auto;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.stepFormContainer::-webkit-scrollbar {
	display: none;
}

.stepForm {
	width: 43.93rem;
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
	.stepProgessContainer {
		width: 35%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;

		margin: 3rem 2rem 0 6rem;
		margin-bottom: 5rem;
	}

	.stepProgress {
		width: 90%;
	}

	.separator {
		width: 0.0625%;
		display: flex;
		align-items: center;
	}

	.separator > div {
		width: 100%;
		height: 80%;
		background-color: #e0e0e0;
	}

	.stepFormContainer {
		width: 50%;
		margin: 3rem 6rem 0 2rem;
		margin-bottom: 2rem;
		overflow: auto;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
