.password-criteria {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.password-input-wrapper {
    position: relative;
}

.criterion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    color: #828282;
}

.password-toggle-button {
    position: absolute;
    color: #7e55d7;
    top: 25%;
    right: 0;
    cursor: pointer;
}

.waiting {
    color: #828282;
}

.valid {
    color: #27ae60;
}

.invalid {
    color: red;
}
