.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stepHeader {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.stepTitle {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
}

.stepTitle > span {
    font-size: 1.5rem;
    font-weight: 500;
}

.stepHeader > span {
    font-family: Merriweather;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #828282;
}

.stepInput {
    display: flex;
    flex-direction: column;
}

.inline {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.threeInline {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
