.container {
	width: auto;
	height: 5rem;
	background: var(--Gray-6, #f2f2f2);
	box-shadow: 0px 4px 16px 0px rgba(79, 79, 79, 0.2);

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0.5rem 6.25rem;
	color: var(--color01);
	position: relative;
}

.menuLogo {
}

.menuLinks {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;

	font-weight: 600;
}

.menuItems {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 3rem;

	list-style: none;
}

.divider {
	width: 0.0625rem;
	height: 2rem;
	background: #bdbdbd;
}

.menuAccount {
	display: flex;
	align-items: center;

	gap: 2rem;
}

.registerBtn {
	display: inline-flex;
	padding: 0.75rem 1.5rem;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	background: var(--color01);
	color: white;

	font-weight: inherit;
	border: none;
	border-radius: 0.125rem;
	color: #fff;
	text-align: center;
	font-size: 1rem;
	line-height: 1.5rem;
	cursor: pointer;
}

.registerBtn:hover {
	color: #e0e0e0;
}
