.container {
  grid-column: 3 / span 9;
}

.title {
  font-size: 2.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filterButton {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.searchInput {
  width: 30%;
}

.tableData {
  display: flex;
  flex-direction: column;
}

.tableRow {
  cursor: pointer;
}

.tableRowActions {
  display: flex;
  justify-content: center;
  align-self: center;
}
