<html>
    <head>
        <style>
            body { font-family: Arial, sans-serif; font-size: 20px; line-height:
            1.5; color: #333; margin: 0; padding: 0; } .container { width: 100%;
            max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid
            #e0e0e0; border-radius: 10px; color: #fff} .header {
            background-color: #4435ab; padding: 10px; text-align: center;
            border-bottom: 1px solid #e0e0e0; } .content { padding: 20px; color:
            #333; height: auto;} .footer { padding: 10px; text-align: center;
            border-top: 1px solid #e0e0e0; font-size: 14px; color: #999; } a{
            text-decoration: none; color: #fff; } .call-to-action{ padding: 12px
            8px; margin: 16px 0; background-color:#4435ab; border-radius: 4px;
            color: #fff; display: block; width: fit-content;} .logo{ width:
            100px; display: block; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h2>{{subject}}</h2>
            </div>
            <div class="content">
                {{{body}}}
            </div>
            <div class="footer">
                <p>Pets</p>
            </div>
        </div>
    </body>
</html>