.container {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	width: 100%;
}

.title {
	text-align: start;
	font-size: 2.5rem;
}

.formContainer {
	display: flex;
	flex-direction: column;
	max-width: 35rem;
	min-width: 30rem;
	height: auto;
}
