.container {
    width: 100%;
}

.adoptions {
    height: 100%;
}

.adoptionsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-top: 3em;
}

@media (max-width: 1600px) {
    .adoptionsContainer {
        grid-template-columns: 1fr;
        margin-right: 2em;
    }
}
