.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4rem 6.25rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

.sidebar {
  grid-column: span 2;
}
