.container {
  max-width: 60rem;
  min-width: 45rem;
  display: flex;
  flex-direction: column;

  gap: 2.5rem;
}

.title {
  text-align: start;
  font-size: 2.5rem;
}

.column {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.group {
  display: flex;
}

.item {
  margin-bottom: 2.5rem;
}

.formBtn {
  margin-top: 1rem;
  width: 100%;
}
